DJANGO_ENV=dev
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=b3dlab
POSTGRES_USER=b3dlab
POSTGRES_PASSWORD=b3dlab
POSTGRES_HOST=db
POSTGRES_PORT=5432

REDIS_URL=redis://redis:6379/0

TIME_ZONE=Europe/Rome
